/*<-----------------------导航---------------------->*/
	*{
		 margin: 0;
		 padding: 0;
	 }
	.Nav{
		width: 100%;
		height: 98px;
		position: relative;
		border-top: 5px solid black;
	}
	.Nav-center{
		width: 1200px;
		height: 61px;
		margin: 0 auto;
	}
	.nav-box{
		width: 200px;
		float: left;
	}
	.nav-box span{
		float: right;
		margin-top: 25px;
		font-size:22px;   
	}
	.nav-logo{
		width: 57px;
		height: 57px;
		background: #D93732;
		border-radius: 50%;
		margin-top: 17px;
		float: left;
		overflow: hidden;
	}
	.nav-logo a{
		display: block;
		float: left;
		width: 57px;
		height: 57px;
		background: url(../img/bgr.png)no-repeat;
		background-position: 0% 0%;
		transition: 0.3s;
	}
	.nav-logo a:hover{
		display: block;
		float: left;
		width: 57px;
		height: 57px;
		background:url(../img/bgr.png)no-repeat 23% 0;
	}
	.Nav-center1{
		width: 434px;
		height: 21px;
		float: right;
		margin-top: 31px;
		font-size: 14px;
		margin-right: -24%;
		line-height: 30px;
	}
	.Nav-center1 span{
		font-size: 14px;
		z-index: 1;
		margin-top: -15px;
	}
	.Nav-center1 a:hover{
		color: #DA3632;
	}
	
	.Nav-center1 a{
		text-decoration: none;
		color: #333;
	}
	.gwc-banner{
		width: 100%;
		height: 510px;
	 	background: #f5f5f5;
	 	position: relative;
	}
	.gwc-banner-text1{
		width: 1200px;
		height: 62px;
		margin: 0 auto;
	}
	.gwc-banner-text1-left{
		line-height: 62px;
		font-size: 12px;
	}
	.gwc-banner-text1-left span{
		padding-left: 10px;
		padding-right: 10px;
	}
	.gwc-banner-text1-left a{
		text-decoration: none;
		color: #333;
	}
	.gwc-banner-text1-left a:hover{
		color: #DA3632;
	}
	.login-text{
		width: 428px;
		height: 21px;
		position: absolute;
		top: 23px;
		right: 12%;
	}
	.login-text1{
		display: block;
		text-decoration: none;
		width: 86px;
	    height: 18px;
	    border: 2px solid #979795;
	    border-radius: 22px;
	    line-height: 18px;
	    color: #666;
	    float: right;
	    font-size: 12px;
	    text-align: center;
	}
	.login-text1:hover{
		border: 2px solid #DA3632; 
		color: #DA3632;
	}
	.login-text2{
		font-size: 12px;
		float: left;
		color: #666;
		line-height: 21px;
	}
	.gwc-banner-text2{
		width: 1210px;
		height: 408px;
		margin: 0 auto;
		background: white;
	}
	.gwc-banner-text2 table{
		width: 1210px;
		height: 70px;
		line-height: 67px;
		border-bottom: 2px solid #f5f5f5;
	}
	table thead .sp{
		width: 600px; 
		text-align: left;
		padding-left:50px ;
	}
	thead td{
		width: 120px;
		height: 70px;
		line-height: 67px;
		font-size: 14px;
		text-align: center;
	}
	table tbody .tr2{
		width: 1210px;
		height: 128px;
		background: red;
	}
	.table2{
		width: 1210px;
		height: 128px;
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid #f5f5f5;
	}
	.table2-left{
		width: 610px;
		height: 128px;
		position: relative;
	}
	.table2-left a{
		width: 86px;
		height: 86px;
		display: block;
		margin-left:50px;  
		position: absolute;
		top: 20px;
	}
	.table2-left a img{
		width: 100%;
		height: 100%;
	}
	.table2-left2{
		width: 99px;
		height: 39px;
		position: absolute;
		top: 30px;
		left: 150px;
	}
	.table2-left2 .f1 a{
		text-decoration: none;
		color: #333;
		font-size: 14px;
		text-align: left;
		position: absolute;
		top: 2px;;
		left: -50px;
	}
	.table2-left2 .f1 a:hover{
		color:#DA3632;
	}
	.table2-left2 .f2 .f3{
		font-size: 12px;
		position: absolute;
		top: 23px;;
		left: 0px;
	}
	.table2-right{
		width: 600px;
		height: 128px;
		display: flex;
		justify-content: space-between;
	}
	.table2-right1{
		width: 120px;
		height: 128px;
		text-align: center;
		font-size: 14px;
		line-height: 128px;
	}
	.table2-right2{
		width: 120px;
		height: 128px;
	}
	.table2-right3{
		width: 120px;
		height: 128px;
	}
	.table2-right2-1{
		width: 116px;
		height: 38px;
		margin-top: 43px;
		border: 1px solid #e2e2e2;
	}
	.table2-right2-1 .table2-right2-2{
		display: block;
		width: 14px;
    	height: 14px;
    	margin: 12px;
    	float: left;
    	background: url(../img/bgr.png)no-repeat -286px -17px;
	}
	.table2-right2-1 .table2-right2-3{
		display: block;
		width: 14px;
    	height: 14px;
    	margin: 12px;
    	float: right;
    	background: url(../img/bgr.png)no-repeat -271px -17px;
	}
	.table2-right2-1 input{
		width: 36px;
		height: 36px;
		float: left;
		text-align: center;
		border: none;
		outline: none;
	}
	.table2-right3 .del{
		display: block;
		width: 14px;
		height: 20px;
		margin-top: 55px;
		margin-left: 50px;
   		background: url(../img/bgr.png)no-repeat -256px -17px;
	}
	.jxgw{
		width: 1210px;
		height: 81px;
	}
	.jxgw-left{
		width: 95px;
		height: 29px;
		float: left;
		margin-top: 25px;
		margin-left: 50px;
	}
	.jxgw-left a{
		line-height: 29px;
		text-decoration: none;
		color: #333;
	}
	.jxgw-left a i{
		display: inline-block;
		width: 9px;
		height: 16px;
		line-height: 29px;
		margin-top: 3px;
		margin-right: 10px;
		background: url(../img/bgr.png)no-repeat -182px 0;
	}
	.jxgw-right{
		width: 485px;
		height: 41px;
		float: right;
		margin-top: 25px;
		margin-right: 50px;
		line-height: 41px;
	}
	.jxgw-right span{
		width: 72px;
		height: 17px;
	}
	.jxgw-right1{
		margin-left: 20px;
	}
	.jxgw-right1 b{
		font-size: 18px;
		color: #d93732;
	}
	.jxgw-right .jiezhang{
		display: inline-block;
		width: 202px;
		height: 41px;
		color: #fff;
		float: right;
		text-decoration: none;
		text-align: center;
		font-size: 14px;
	    background: #d93732;
	    border-radius: 3px;
	}
	.jxgw-right .jiezhang:hover{
		background: #ED3C38;
		transition: .3s;
	}
/*<---------------------------footer------------------------------->*/
	.footer{
		width: 100%;
		margin-top: 77px;
		position: relative;
	}
	.footer1{
		width: 1200px;
		height: 80px;
		margin:60px auto;
		display: flex;
		justify-content: space-between;
	}
	.footer1-1{
		width: 235px;
		height: 80px;
	}
	.footer1-1 i{
		display: inline-block;
		width: 152px;
		height: 59px;
		margin-left: 30px;
		margin-top:10px;
		background: url(../img/bgr.png)no-repeat 0 -58px;
	}
	.footer1-2{
		width: 453px;
		height: 80px;
		border-left:  1px solid #ddd;
		border-right:  1px solid #ddd;
	}
	.footer1-2 img{
		margin-top: 2px;
		margin-left: 30px;
	}
	.footer1-3{
		width: 255px;
		height: 80px;
		border-right: 1px solid #ddd;
	}
	.footer1-3-text{
		font-weight: bold;
		margin-left: 50px;
		margin-top: 5px;
	}
	.footer1-3-img{
		width: 135px;
		height: 22px;
		margin-left: 50px;
		margin-top: 9px;
	}
	.footer1-3-img1{
		width: 28px;
		height: 24px;
		display: block;
		float: left;
		background: url(../img/bgr.png)no-repeat 0 -276px;
	}
	.footer1-3-img .footer1-3-img1:hover{
		background: url(../img/bgr.png)no-repeat 0 -251px;
	}

	.footer1-3-img2{
		width: 26px;
		height: 24px;
		display: block;
		float: left;
		margin-left: 10px;
		background: url(../img/bgr.png)no-repeat -28px -276px;
	}
	.footer1-3-img .footer1-3-img2:hover{
		background: url(../img/bgr.png)no-repeat -28px -251px;
	}
	.footer1-3-img3{
		width: 30px;
		height: 24px;
		display: block;
		float: left;
		margin-left: 10px;
		background: url(../img/bgr.png)no-repeat -54px -276px;
	}
	.footer1-3-img .footer1-3-img3:hover{
		background: url(../img/bgr.png)no-repeat -54px -251px;
	}
	.footer1-3-img3 i{
		display: inline-block;
		width: 142px;
	    height: 151px;
	    background: url(../img/wx.png)no-repeat;
	    position: absolute;
	    top: -150%;
	    left: 63%;
	    display: none;
	}
	.footer1-3-img3:hover i{
		display: block;
	}
	.footer1-4{
		width: 254px;
		height: 80px;
	}
	.footer1-4-text1{
		font-size: 24px;
		text-align: center;
	}
	.footer1-4-text2{
		font-size: 12px;
		text-align: center;
	}
	.footer1-4-text3{
		display: block;
		text-decoration: none;
		font-size: 12px;
		text-align: center;
		color: #333;
		width: 140px;
   		height: 25px;
	    border: 2px solid #ddd; 
	    border-radius: 22px; 
	    line-height: 25px;
	    margin-left: 58px;
	    margin-top:3px;
	}
	.footer1-4-text3:hover{
		border: 2px solid #DA3632; 
		color: #DA3632;
	}
	.item{
		width: 100%;
		height: 242px;
		background:#484442;
	}
	.item1{
		width: 1200px;
		height: 139px;
		margin: 0 auto;
		border-bottom:2px solid #666666; 
		display: flex;
		justify-content: space-between;
	}
	.item1-1{
		width: 260px;
		height: 49px;
		list-style: none;
		margin-top: 45px;
	}
	.item1-1-img1{
		display: block;
		width: 52px;
   		height: 52px;
   		float: left;
   		background: url(../img/bgr1.png)no-repeat 0 0;
	}
	.item1-1-img2{
		display: block;
		width: 52px;
   		height: 52px;
   		float: left;
   		background: url(../img/bgr1.png)no-repeat -53px 0;
	}
	.item1-1-img3{
		display: block;
		width: 52px;
   		height: 52px;
   		float: left;
   		background: url(../img/bgr1.png)no-repeat -106px 0;
	}
	.item1-1-img4{
		display: block;
		width: 52px;
   		height: 52px;
   		float: left;
   		background: url(../img/bgr1.png)no-repeat -159px 0;
	}
	.item1-1 span{
		font-size: 18px;
		font-weight: 700;
		float: left;
		line-height: 49px;
		margin-left: 15px;
		color: #e7e7e7;
	}
	.item2{
		width: 1200px;
		height: 99px;
		margin: 0 auto;
		border-bottom:2px solid #666666; 
		position: relative;
	}
	.item2-text1{
		height: 21px;
		margin-left: 30px;
		position: absolute;
		top: 40px;
	}
	.item2-text1-left{
		display: inline-block;
	    font-size: 12px;
	    color: #c3c3c3;	
	    line-height: 21px;
	    float: left;
	}
	.item2-text1-1 span a{
		text-decoration: none;
		display: inline-block;
	    font-size: 12px;
	    color: #c3c3c3;	
	    line-height: 21px;
	    float: left;
	    margin-left: 20px;
	}
	.item2-text2{
		width: 452px;
		height: 18px;
		float: right;
		position: absolute;
		top: 40px;
		right: 25px;
	}
	.item2-text2 a{
		text-decoration: none;
		display: inline-block;
	    font-size: 12px;
	    color: #c3c3c3;
	    margin-left:10px; 
	    line-height: 18px;
	}
	.item2-text2 span{
		display: inline-block;
	    font-size: 12px;
	    color: #c3c3c3;
	    margin-left:5px; 
	    line-height: 18px;
	}
	.banquan{
		width: 100%;
		height: 115px;
		background:#484442; 
	}
	.banquan1{
		width: 1200px;
		height: 115px;
		margin: 0 auto;
		position: relative;
	}
	.banquan1-text1{
		width: 1000px;
		height: 63px;
		font-size: 14px;
		color: #fff;
		position: absolute;
		left: 32px;
		top: 30px;
		float: left;
	}
	.banquan1-text1 a{
		display: inline-block;
	    font-size: 12px;
	    color: #c3c3c3;
	    text-decoration: none;
	    margin-right:6px;
	}
	.banquan1 span{
		display:inline-block;
		width: 120px;
		height: 45px;
		float: right;
		position: absolute;
		top: 30px;
		right: 23px; 
	}
	.banquan1 span img{
		width: 100%;
		height: 100%;
	}
	